.footer {
  position: relative;
  width: 100%;
  height: 100%;
  
  .videoDiv {
    position: absolute;
    padding: 1rem;
    inset: 0;

    video {
      width: 100%;
      object-fit: cover;

      @media (min-width: 1200px) {
        height: 300px;
      }

      @media (max-width: 1199px) and (min-width: 992px) {
        height: 350px;
      }

      @media (max-width: 991px) and (min-width: 768px) {
        height: 400px;
      }

      @media (max-width: 767px) and (min-width: 576px) {
        height: 450px;
      }

      @media (max-width: 575px) {
        height: 500px;
      }
    }

    .overlayContent {
      position: absolute;
      inset: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;

      @media (max-width: 575px) {
        padding: 0.5rem;
      }

      .secContent {
        width: 100%;
        flex-direction: column;
        color: black;
        max-width: 1250px;
        padding: 1rem;

        @media (max-width: 575px) {
          padding: 0.5rem;
        }

        .contactDiv {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 2rem;
          margin-top: 1rem;

          @media (max-width: 575px) {
            margin-bottom: 1rem;
            margin-top: 0.5rem;
          }

          .text {
            text-align: center;
            small {
              display: block;
              font-size: 0.875rem;

              @media (max-width: 575px) {
                font-size: 0.75rem;
              }
            }
            h2 {
              font-size: 1.5rem;
              font-weight: bold;

              @media (max-width: 575px) {
                font-size: 1.25rem;
              }
            }
          }

          .inputDiv {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
            margin-top: 1rem;

            @media (max-width: 575px) {
              gap: 0.25rem;
              margin-top: 0.5rem;
            }

            @media (min-width: 768px) {
              flex-direction: row;
            }

            input {
              padding: 0.5rem;
              border-radius: 0.375rem;
              border: none;

              @media (max-width: 575px) {
                padding: 0.25rem;
              }
            }

            .btn {
              display: flex;
              align-items: center;
              background-color: #3b82f6;
              color: white;
              padding: 0.5rem 1rem;
              border-radius: 0.375rem;
              border: none;
              cursor: pointer;

              @media (max-width: 575px) {
                padding: 0.25rem 0.5rem;
              }

              &:hover {
                background-color: #2563eb;
              }

              .icon {
                margin-left: 0.5rem;

                @media (max-width: 575px) {
                  margin-left: 0.25rem;
                }
              }
            }
          }
        }

        .footerCard {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          width: 100%;
          background-color: whitesmoke;
          border-radius: 1.5rem;
          padding: 2rem;

          @media (max-width: 575px) {
            gap: 0.5rem;
            padding: 1rem;
          }

          @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
          }

          .footerIntro {
            display: flex;
            flex-direction: column;
            background-color: wheat;
            border-radius: 2rem;
            padding: 1rem;
            flex: 1;

            @media (max-width: 575px) {
              padding: 0.5rem;
            }

            .footerParagraph {
              margin-bottom: 1rem;
              padding: 1rem;

              @media (max-width: 575px) {
                margin-bottom: 0.5rem;
                padding: 0rem;
                font-size: smaller;
              }

              h1 {
                font-size: 25px;
                margin-bottom: 2rem;

                @media (max-width: 575px) {
                  font-size: 20px;
                  margin-bottom: 1rem;
                }
              }
            }

            .footerSocials {
              display: flex;
              gap: 0.5rem;
              padding: 1rem;

              @media (max-width: 575px) {
                gap: 0.25rem;
                padding: 0.5rem;
                margin-top: 0rem; /* Add margin-top to reduce space */
              }
            }
          }

          .footerLinks {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin-top: 1rem;

            @media (max-width: 575px) {
              gap: 0.5rem;
              margin-top: 0.5rem;
              display: flex;
              
            }

            @media (min-width: 768px) {
              flex-direction: row;
            }

            .linkGroup {
              .groupTitle {
                font-size: 1.125rem;
                font-weight: bold;
                margin-bottom: 0.5rem;

                @media (max-width: 575px) {
                  font-size: 1rem;
                  margin-bottom: 0.25rem;
                }
              }

              .footerList {
                display: flex;
                align-items: center;
                margin-top: 0.5rem;
                font-size: 1rem;
                cursor: pointer;

                @media (max-width: 575px) {
                  font-size: 0.875rem;
                  margin-top: 0.25rem;
                }

                &:hover {
                  color: #3b82f6;
                }
              }
            }
          }
        }
      }
    }
  }
}
